

@import "~bootstrap/scss/bootstrap";
@import "grid";  //адаптив
@import "navbar"; // левое меню
@import "header"; // шапка сайта



*{
  box-sizing: border-box;
 -webkit-box-sizing:border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
background: #e3dff0;

}
